$primary-color: #424242;
$seconday-color: #FAFAFA;
$primary-dark: #212121;
$primary-light: #757575;
$main-color: #FF3366;

.header {
    padding: 0 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: $primary-dark;
    font-size: 3rem;
    text-decoration: none;
}

.nav_list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav_item {
    color: $primary-light;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav_item_last {
    margin-right: 0;
    transition: all .4s ease .4s;
}

.nav_item:hover {
    opacity: .8;
}

.active_nav_item {
    color: $main-color;
    box-shadow: inset 0px -1px 0px $main-color;
}
